@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.favButton{
  padding: 10px;
  border: none;
  border-radius: 0px;
  width: 100%;
  cursor: pointer;
  background-color: #D4D4D4;
}


.favButton:hover{
  background-color: #06d1f5;
  transition: all .5s;
}




.favIcon{
  fill: #ffe600;
  stroke: black;
  stroke-width: 40;
  font-size: 20px;
}



h1{
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

nav{
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: flex-end;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 


   
.contactContainer{
  height: 100%;
   min-height: 480px;
   text-align: center;
}

.contactContainer h2 {
  padding-top: 50px;
}


footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem 0rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #ffa64d;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}


.formContainer{
  margin-top: 80px;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 180px;
  margin: 0 auto;
}
form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
}

form button {
  width: 100%;
  background-color: #06d1f5;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

form button:hover{
  opacity: 0.8;
  transform: scale(1.02);
  transition: all .5s;
}

.cardContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
}

.card{
  width: 320px;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: wrap;
 text-align: center;
 border-radius: 5px;
 border: 1px solid black;
}



.card:hover{
  transform: scale(1.05);
  transition: all .5s;
}


.cardH1{
  color: #0000009c;
  padding-top: 1.5rem;
}

.card p {
  font-size: 23px;
}


.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  min-height: 550px;
  padding: 50px 0px;
}

h2{
  margin: 0;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

button{
  border-radius: 5px;
  border:none;
  padding: 5px 7px;
}

.navBarContainer{
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-right: 100px;
}

.cardImage{
  width: 80%;
  height: 50%;
}

.containerTable{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  text-align: center;
}

.containerTable h3{
  color: #06d1f5;
  font-weight: 400;
}

.home{
  width: 100%;
  height: 100%;
  padding: 50px 0px;
}

.detailContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}